/* Header.css */


.header {
  font-family: 'Zen Loop', cursive;
  font-size: 1.75rem;
  background-color: #e7e7e7c5;
  opacity: 70%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 2rem;
}

a {
  align-self: center;
  color: black;
  text-decoration: none;
}

.header__button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  padding-right: 1rem;
}

.header__logo {
  height: 7rem;
  padding-left: 1rem;
}

@media screen and (max-width: 750px) {
  .header__text {
    display: none;
  }
  .header {
    flex-direction: column;
  }
  .header__button {
    margin-bottom: 1rem;
  }
  .header__logo {
    padding: 0;
    margin: 1rem 0 1rem 0;
  }
}